{% load static %}

<div class="block2">
    <img class="p2" src="{% static 'img/p2.png' %}" alt="HUI">
    <p>🔸 Авторские миксы, от которых у тебя мозги скрутятся в бараний рог — хочешь сладенького? Есть. Хочешь что-то поядренее? Легко.
    
        <br>🔸 Зона для своих — мягкие диваны, ламповый свет и музыка, которая не бьёт по ушам, а льется, как хороший дым.
        
        <br>🔸 Профессиональные кальянщики, которые знают, как не спалить чашу и не насувать тебе угля больше, чем надо. Мы не работаем по принципу "лишь бы дым шёл". Мы делаем тебе кайф.
        
        <br>🔸 Промо-акции и бонусы — лояльным гостям всегда отвалим что-то вкусненькое. Поток щедр, если ты в нём.
</p>
</div>